.main_component{
    width: 350px;
    height: 280px;
    margin-top: 250px;
    margin-left: 750px;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}